<div *ngIf="afAuth.authState | async as user">
  <h1>Hello {{ user.email }}!</h1>
  <button (click)="logout()">Logout</button>
</div>
  <ng-template #showLogin>
    <p>Please login.</p>
    <button (click)="login()">Login with Google</button>
  </ng-template>

<form [formGroup]="credentials" (ngSubmit)="signup($event)">
  <input formControlName="email" type="email" placeholder="Your email" autocomplete="off">
  <input formControlName="password" type="password" placeholder="Your password" autocomplete="off">
<button type="submit">Sign up</button>
</form>

<form [formGroup]="credentials" (ngSubmit)="login($event)">
  <input formControlName="email" type="email" placeholder="Your email">
  <input formControlName="password" type="password" placeholder="Your password">
<button type="submit">Log in</button>
</form>


<button (click)="logout()">Salir</button>